# Ignore all .dat files
*.dat 

# Ignore all __pycache__ directories
__pycache__/

# Ignore all mod_ directories which contain data files
mod_*/

# Ignore all .log files
*.log

#Ignore all numbered .txt files (i.e the meta data)
*_[0-9]*.txt
